body,
h1,
h2,
p,
pre {
  margin: 0;
  padding: 0;
}

body {
  background-image: url('https://github.com/devapraveen002/web-platform-first/assets/137753578/1d1f37af-6135-4ace-b562-8f3a8b018ecd');
  background-size: cover;
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  color: #333;
}
.logo {
  background-image: url("https://github.com/devapraveen002/web-platform-first/assets/137753578/1d1f37af-6135-4ace-b562-8f3a8b018ecd");
  background-size: contain;
  background-repeat: no-repeat;
  width: 100px;
  height: 100px;
}




main {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

header {
  background-color: #333;
  color: #fff;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.banner img {
  max-width: 100px;
  border-radius: 50%;
}
.logo {
 
  width: 10px;
  height: 10px;
}


h1 {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 10px;
}

p {
  margin-bottom: 10px;
}

.introduction p {
  line-height: 1.5;
  color: #f9f9f9;
}

.section-1,
.section-2,
.third-section {
  margin-bottom: 20px;
}

h2 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

pre {
  background-color: #f9f9f9;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 4px;
  white-space: pre-wrap;
}

/* Custom styles */

.section-1,
.section-2,
.third-section {
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.section-2 pre,
.third-section pre {
  white-space: pre-wrap;
}

.section-2 p:last-child,
.third-section p:last-child {
  margin-bottom: 0;
}

.section-2 h2,
.third-section h2 {
  margin-bottom: 20px;
}

.section-2 p:first-child,
.third-section p:first-child {
  margin-top: 0;
}

.banner-container {
  display: flex;
  align-items: center;
}

.banner-text {
  margin-left: 20px;
}

.footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}

.footer p {
  margin-bottom: 10px;
}

.footer a {
  color: #fff;
  text-decoration: none;
}

/* Media Queries */

@media only screen and (max-width: 768px) {
  main {
    padding: 10px;
  }

  h1 {
    font-size: 24px;
  }
}
